.input-block + .input-block{
    margin-top: 1.4rem;
}

.input-block{
    position: relative;
}

.input-block label{
    font-size: 1.4rem;
    color: var(--cor-texto-claro);
    font: 400 1.4rem Poppins;
}

.input-block input{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    color: var(--cor-texto-escuro);
    background: var(--cor-interior-campos);
    border: 1px solid var(--cor-borda-campos);
    outline: 0;
    padding: 1.6rem;
    font: 1.6rem Archivo;
}

.input-block:focus-within::after{
    width: calc(100%-3.2rem);
    height: 2px;
    content: '';
    background: var(--cor-azul-primario);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}